{% extends 'base.html' %} 

{% block content %}
<div class="container-fluid">
    <h2>Painel de Custo Médio</h2>
    
    <form method="GET" action="{% url 'processar_custo_medio' %}" class="row g-3 mb-4">
        <div class="col-md-3">
            <input type="text" name="cidade" class="form-control" placeholder="Cidade" value="{{ request.GET.cidade }}">
        </div>
        <div class="col-md-2">
            <input type="text" name="uf" class="form-control" placeholder="UF" value="{{ request.GET.uf }}">
        </div>
        <div class="col-md-2 text-end">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </form>
    
    </div>
{% endblock %}